.highlighted
{
	background-color: blue;
}

.program-unread
{
	color:red;
}
.program-read
{
	color:gray;
}
#code
{
	width: 100%;
	height: 80px;

}

#send
{
	width: 80px;
	height: 30px;
	margin-top:25px;
}

#commands
{
	font-size: 1.3em;

}